body {
	width: 700px;
	font-family: sans-serif;
	margin: 2.5% auto;
}

form {
	border: solid;
	padding: 1em;
	display: table;
	background: #feb;
	margin: 10% auto;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

form input {
	background: #eda;
	border-width: 0;
	padding: 4px;
}

#help {
	position: absolute;
	padding: 6px 12px;
	bottom: 8px; right: 8px;
	color: black;
	background: #bfe;
	border: solid;
	text-decoration: none;
	font-weight: bold;
}

#help:hover {
	color: #5a9;
}

code {
	font-family: monospace, monospace;
	color: #353;
	display: inline-block;
	word-break: break-all;
}

section {
	width: 100%;
	display: block;
	background: black;
}

video {
	display: block;
	margin: auto;
	max-width: calc(100% - 6px);
	height: 360px;
	border: solid;
	border-bottom-width: 0;
}

aside > div {
	float: left;
	border: solid;
	display: block;
}

div#log {
	width: calc(50% - 8px);
	background: #bef;
	position: relative;
	padding: 0;
	display: inline-block;
	min-height: 275px;
	max-height: 400px;

}

div#log > div#users {
	border-bottom: 1px solid black;
	background: #8ad;
	padding: 2px 0 2px 2px;
}

div#log > div#users > span {
	border-right: 1px solid black;
	padding: 2px 4px;
	margin: 0;
}

div#log > ul#msg,
div#other > ul#video-list {
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	max-height: 350px;
	margin: 0;
	padding: 0;
}

div#log > ul#msg {
	margin-bottom: 18px;
}

div#log > ul#msg > li:nth-child(even) { background: #8ad; }

div#log > ul#msg > li.request {
	font-family: monospace, monospace;
	font-style: italic;
	font-size: smaller;
}

div#log > input#prompt,
div#other > input#ytdl {
	position: absolute;
	left: 0;
	right: 0;
	border-width: 0;
	background: whitesmoke;
	width: calc(100% - 2px);
}

div#log > input#prompt {
	bottom: 0;
	border-top: 1px solid black;
}

div#other {
	width: calc(50% - 1px);
	background: #fbe;
	position: relative;
	border-left-width: 0;
	overflow-y: auto;
	height: 275px;
}

div#other > ul#video-list {
	margin-top: 19px;
	max-height: 256px;
}
div#other > ul#video-list > li {
	cursor: pointer;
	word-break: break-all;
	font-family: monospace, monospace;
}
div#other > ul#video-list > li:nth-child(even) { background: #d8a; }
div#other > ul#video-list > li:hover { background: #b69; }

div#other > input#ytdl {
	top: 0;
	border-bottom: 1px solid black;
}

@media only screen and (max-width: 700px) {
	body, html {
		width: 100%;
		min-width: initial;
		margin: 0;
		padding: 0;
	}

	form { margin: 2.5% auto; }

	aside > div#other,
	aside > div#log {
		float: none;
		width: 100%;
		min-height: 300px;
		max-height: 300px;
		font-size: 1.25em;
		border-width: 3px 0 0 0;
	}

	video {
		height: auto;
	}

	aside {
		display: flex;
		flex-direction: column-reverse;
	}

	div#log > input#prompt,
	div#other > input#ytdl {
		font-size: 1.25em;
		padding: 4px;
		width: calc(100% - 8px);
	}

	div#log > ul#msg { margin-bottom: 2.1em; }
	div#other > ul#video-list { margin-top: 2.1em; }

	div#log > input#prompt {
		border-bottom: solid;
		font-size: inherit;
		bottom: -0.9em
	}
}
